<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>

<div class="w-50 p-3">
    <form action="#" th:action="@{/users}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" th:field="*{surname}" id="surname" placeholder="Surname"/>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="********"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Create User"/>

    </form>
</div>
</body>

</html>